.version.index /* version checker */
{
	color: #0000EC;
	background-color: #31322A;
}

.html
{
	background: #000000 url("../images/skuls4.jpg") no-repeat center center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 59px;
	min-height: 59px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 460px 417px 391px 484px;
}

#u1147
{
	z-index: 3;
	height: 59px;
	width: 59px;
	vertical-align: top;
	position: relative;
	background: url("../images/u1147.png") no-repeat 9px 9px;
}

#u1147:hover
{
	background: url("../images/u1147-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 1px;
}

