.version.index /* version checker */
{
	color: #0000FE;
	background-color: #8B3310;
}

.html
{
	background: #000000 url("../images/skuls4.jpg") no-repeat center center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 910px;
	margin-left: auto;
	margin-right: auto;
}

.ie #page
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 1px;
}

