.version.index /* version checker */
{
	color: #00000E;
	background-color: #E81ADD;
}

.html
{
	background: #000000 url("../images/skuls4.jpg") no-repeat center center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 297px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 346px 267px 267px 333px;
}

#u892
{
	z-index: 3;
	height: 297px;
	width: 360px;
	vertical-align: top;
	position: relative;
	background: url("../images/u892.png") no-repeat 9px 9px;
}

#u892:hover
{
	background: url("../images/u892-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 1px;
}

